#about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 0px 10%;
  box-sizing: border-box;
}

#about h1 {
  font-size: 4.2rem;
  font-weight: 300;
  flex-shrink: 0;
  text-align: left;
  width: 25%;
  min-width: 200px;
  margin-bottom: 300px;
}

.about-text {
  flex: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding-left: 40px;
}

.about-text p {
  margin: 0;
  line-height: 1.8;
}

.aboutMePicture {
  display: block;
  width: 300px;
  height: auto;
  max-width: 100%;
  opacity: 0.8;
  position: absolute;
  margin-top: 200px;
}
