/* Global reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #060f1f;
  background-attachment: fixed;
  color: white;
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

body,
#home p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HOME SECTION */
#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  padding: 0 8%;
  position: relative;
}

/* LEFT SIDE — CONTENT */
#home-content {
  flex: 2; /* wider left side */
  text-align: left;
  margin-right: 3%; /* smaller space */
}

#home h1 {
  font-size: 4.2rem;
  font-weight: 300;
}

#home p {
  font-size: 1.1rem;
  font-weight: 300;
  max-width: none; /* allow full width of left column */
  width: 100%;
  line-height: 1.6;
}

/* RIGHT SIDE — PROJECTS */
#home-projects {
  flex: 1; /* smaller right column */
  text-align: left;
  position: relative;
  left: 0; /* remove 250px force shift */
  top: 3%;
  max-width: 650px;
  transform: translateX(200px);
}

#home-projects::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 80px;
  left: -20px;
  height: 100px;
  border-left: 2px solid #c2b280;
  border-top: 2px solid #c2b280;
}

#home-projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#home-projects ul li {
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: fit-content;
}

#home-projects ul li a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

#home-projects ul li a:hover {
  color: white;
}

#home-projects ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}

/* MOBILE */
@media (max-width: 768px) {
  #home,
  #about {
    padding: 20px;
    height: auto;
  }

  #home h1,
  #about h1 {
    font-size: 2.5rem;
  }

  #home p,
  #projects p,
  #about .about-text {
    font-size: 1rem;
    line-height: 1.5;
  }

  #home-projects {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-left: 1px;
    position: relative;
    left: 15px;
  }

  .aboutMePicture {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  #home h1 {
    font-size: 2rem;
  }
}
