#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  text-align: center;
  padding: 0px 8%;
  position: relative;
}

.contact-link {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  color: rgb(180, 180, 180);
  font-size: 2.7rem;
  transition: color 0.3s ease-in-out;
}

.contact-link:hover {
  color: white;
  cursor: pointer;
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: #060f1f;
  color: rgb(180, 180, 180);
  font-size: 14px;
  margin: 120px 0 0 0;
  width: 100%;
}

/* Medium screens */
@media (min-width: 769px) and (max-width: 1440px) {
  .contact-link {
    font-size: 2.2rem;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  #contact {
    position: relative;
    min-height: 20vh;
  }

  .contact-link {
    font-size: 1.8rem;
    padding: 10px 20px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-48%);
  }
  #footer {
    padding: 15px 5px;
    font-size: 1rem;
    margin: 120px 0 0 0;
    transform: translateX(0%);
  }
}
