body {
  margin: 0;
  background-color: #060F1F;
  background-attachment: fixed;
  color: white;
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

body, #home p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
}
